<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISTE MBU & SVEC</title>
    <link rel="icon" href="/photos/teamslogo/iste.png" />
    <link rel="stylesheet" href="/css/about.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("./includes/nav.ejs") %> <%- include("./includes/cursor.ejs") %>
    <canvas id="starCanvas"></canvas>
    <div class="top">
      <div class="graphic">
        <div class="logoo">
          <div class="animated-background"></div>
        </div>
      </div>

      <div class="info">
        <div class="welcoming">
          <h1 class="welcome">WELCOME TO ISTE MBU & SVEC</h1>
        </div>
      </div>

      <div class="arrow bounce">
        <a href="#about-info" style="color: #1c1f4a"
          ><i class="fas fa-angle-double-down"></i
        ></a>
      </div>
    </div>
    <!-- <hr style="color: white; background-color: white; height: 0.2rem" /> -->
    <div class="middle" id="about-info">
      <div class="content-box">
        <h1 style="text-align: center">ABOUT US</h1>
        <div class="information">
          <div>
            ISTE student chapter dedicated to advancing technical education by
            promoting quality standards and encouraging research and innovation
            in engineering and technology. With a diverse membership that
            includes educators, students, and professionals in technical fields.
            MBU and SVEC ISTE Student chapter plays a crucial role in
            disseminating knowledge through the organization of conferences,
            workshops, and seminars, providing valuable opportunities for
            learning and professional development. The organization encourages
            innovation and practical learning, fostering creativity and
            problem-solving among the younger generation. Also publishes
            journals, newsletters, and technical papers, sharing the latest
            research findings and technological advancements with its members.
            Its collaborative efforts extend to national organizations,
            government bodies, industry partners, and educational institutions,
            enhancing the overall quality of technical education. With a mission
            to develop top-quality technologists, ISTE remains committed to
            meeting the evolving educational needs of the country. On this
            exciting journey with us, and be a part of our ISTE community. We
            look forward to engaging with you and helping you thrive in our
            journey.
          </div>

          <div class="benefits">
            <br /><br />
            <b>Major benefits of becoming an ISTE member : </b> <br />
            A Member of a National Professional Organization. <br />
            Joined an academic Fraternity of over 1,00,000 strong professional.
            <br />
            Preference to attend short-term training program for the academic
            excellence and to become eligible for career advancement
            opportunities. <br />
            Getting monthly e-copy of ISTE Newsletter by email. <br />
            Quarterly Indian journal of Technical Education (at concessional
            rates). <br />
            Many more publications for Self Development, Institution
            Development, etc. (at concessional rates). <br />
            Eligible to participate in Chapter level, Section level and National
            Level Conferences, Workshops and other activities of your academic
            interest etc <br />
          </div>

          <br />
          <div class="but">
            <button class="view" onclick="showBenefits()">VIEW BENEFITS</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <hr style="color: white; background-color: white; height: 0.2rem" /> -->

    <div class="last">
      <h1>Teams</h1>
      <div class="teams">
        <div class="team">
          <div class="team-image poster">
            <img src="/photos/teamslogo/poster.png" alt="" />
          </div>
          <h3>POSTER</h3>
          <div class="team-description" id="poster-info">
            Poster Team's artistry amplifies message, making events unmissable.
            Their designs are the first glimpse into the exciting world of ISTE.
            The Poster Team holds a pivotal position, wielding creativity and
            design. By showcasing event details, themes, and highlights, they
            create anticipation and attract attention.
          </div>
          <div class="direct" onclick="showInfo('poster-info')">INFO</div>
        </div>
        <div class="team">
          <div class="team-image drafting">
            <img src="/photos/teamslogo/drafting.png" alt="" />
          </div>
          <h3>DRAFTING</h3>
          <div class="team-description" id="drafting-info">
            The Drafting Team is the creative heartbeat, weaving words into
            captivating narratives. They distill event details into impactful
            content to prose curiosity and draws participants in. Team ensures
            that information reaches the audience accurately by words resonate.
            their words connect content bridges gaps.
          </div>
          <div class="direct" onclick="showInfo('drafting-info')">INFO</div>
        </div>
        <div class="team">
          <div class="team-image documentation">
            <img src="/photos/teamslogo/documentation.png" alt="" />
          </div>
          <h3>DOCUMENTATION</h3>
          <div class="team-description" id="documentation-info">
            Documentation Team is the unsung hero behind the scenes, ensuring
            that the ISTE Chapter functions smoothly, it meticulously handles
            all application forms for registrations and facilitate efficient
            communication between participants and the chapter. Taking the lead
            in safeguarding each and every critical event data.
          </div>
          <div class="direct" onclick="showInfo('documentation-info')">
            INFO
          </div>
        </div>
        <div class="team">
          <div class="team-image management">
            <img src="/photos/teamslogo/management.png" alt="" />
          </div>
          <h3>MANAGEMENT</h3>
          <div class="team-description" id="management-info">
            Management Team dons many hats, ensuring events plays out
            flawlessly. Orchestrate the event's requirements from logistics to
            resources ensures nothing is overlooked. Transform constraints into
            opportunities, Budgets, timelines. Turning limited resources into
            memorable experiences.
          </div>
          <div class="direct" onclick="showInfo('management-info')">INFO</div>
        </div>
        <div class="team">
          <div class="team-image scheduling">
            <img src="/photos/teamslogo/scheduling.png" alt="" />
          </div>
          <h3>SCHEDULING</h3>
          <div class="team-description" id="scheduling-info">
            Scheduling Team ensures rhythm and its melody unforgettable.
            Scheduling Team is the conductor of grand orchestra. Wield the baton
            and event schedules. create a seamless timeline, choreograph
            promotions. Timely announcements, teaser campaigns, build
            anticipation. precision ensures no note is out of place.
          </div>
          <div class="direct" onclick="showInfo('scheduling-info')">INFO</div>
        </div>

        <div class="team">
          <div class="team-image social">
            <img src="/photos/teamslogo/social.png" alt="" />
          </div>
          <h3>SOCIAL MEDIA</h3>
          <div class="team-description" id="social-info">
            The Social Media Team advances ISTE's purpose by utilizing digital
            expertise. By bridging the digital and physical worlds, Team ensures
            that ISTE's legacy endures. To pique viewers' interest, the team
            writes engaging narratives for YouTube, LinkedIn, and Instagram.
            boosting ISTE's online visibility and recruiting new members.
          </div>
          <div class="direct" onclick="showInfo('social-info')">INFO</div>
        </div>

        <div class="team">
          <div class="team-image web">
            <img src="/photos/teamslogo/web.png" alt="" />
          </div>
          <h3>WEB DEVELOPMENT</h3>
          <div class="team-description" id="web-info">
            Our website team is committed to regularly updating past and
            upcoming events, ensuring you stay informed. We will also update the
            gallery with new photos and YouTube videos, all managed seamlessly
            through the backend. The team works diligently to provide fresh
            content and enhance your experience. Stay connected with ISTE's
            latest activities and media!
          </div>
          <div class="direct" onclick="showInfo('web-info')">INFO</div>
        </div>
      </div>
    </div>
    <br />
    <%- include("includes/contact.ejs") %>
    <script src="/js/about.js"></script>
  </body>
</html>
