<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="icon" href="/photos/teamslogo/iste.png" />
    <link href="/css/gallery.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <%- include("includes/nav.ejs") %>
    <%- include("./includes/cursor.ejs") %>
    <div class="gallery opening">
      <h1>Gallery</h1>
    </div>
    <div class="photos">
      <% for(image of gallery) {%>
      <div class="horizontally">
        <img src="<%= image.url %>" alt="" loading="lazy"/>
      </div>
      <% } %>
    </div>
    <%- include("includes/contact.ejs") %>
  </body>
</html>
